 <div class="container bg">

  <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "lunbo1.png" %>
      </div>
      <div class="item">
       <%= image_tag "lunbo2.png" %>
      </div>
      <div class="item">
        <%= image_tag "lunbo3.png" %>
      </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        开发此项目,你需要具备以下的知识:
      </div>
    </div>

  <div class="row">
    
    <div class="col-md-4">  
      <h3>学习天地</h3>
      <div class="row">
        <h4 class="col-md-6">Boorstrap</h4>
        <a class="btn btn-info  col-md-6" href="http://www.w3schools.com/bootstrap/">+更多</a>
      </div>
      <div class="row">
        <h4 class="col-md-6">JavaScript</h4>
        <a class="btn btn-info  col-md-6" href="http://www.runoob.com/js/js-tutorial.html">+更多</a>
      </div>
      <div class="row">
        <h4 class="col-md-6">Rails Framework</h4>
        <a class="btn btn-info col-md-6" href="http://guides.ruby-china.org/">+更多</a>
      </div>
    </div>

    <div id="home-qlink" class="col-md-4">
      <div class="panel">
          <div class="panel-head" style="margin-bottom: 0;">
            <h3 class="panel-head-title"><span>快速通道</span></h3>
          </div>
          <div class="panel-body">
            <%= image_tag("kslj.png",usemap: "#Map5") %>
            <map name="Map5">
              <area shape="rect" coords="1,1,99,161" href="http://service.ucas.ac.cn/" target="_blank" title="校园服务">
              <area shape="rect" coords="101,1,339,104" href="http://sep.ucas.ac.cn/" target="_blank" title="信息门户">
              <area shape="rect" coords="345,1,428,155" href="http://job.ucas.ac.cn/" target="_blank" title="就业信息">
              <area shape="rect" coords="104,111,341,157" href="http://www.cas.cn/" target="_blank" title="中国科学院">
              <area shape="rect" coords="3,165,97,229" href="http://lib.ucas.ac.cn/" target="_blank" title="图书馆">
              <area shape="rect" coords="103,165,242,230" href="http://onestop.ucas.edu.cn/home/info/6b9e95dc-5785-4eee-b25f-1f884698cfc3" target="_blank" title="资源下载">
              <area shape="rect" coords="247,166,426,230" href="/site/229" target="_blank" title="校长信箱">
            </map>
          </div>
          <!-- // panel-body:end -->
          <a href="#" target="_blank" class="panel-more-link"><span>+更多</span></a>
      </div><!-- // panel:end -->
    </div>
  </div>
</div>